.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.flex, .grow {
  flex-grow: 1;
}

.line {
  width: 5px;
  margin: 0 1em;
  align-self: stretch;
  background-color: var(--text);
  opacity: 0.2;
}

.aImg {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;

  > p {
    margin: 0;
  }
}
