@import url(sanitize.css);

:root {
  --text: hsl(250 95% 100% / 90%);
  --highlight: hsl(250 95% 100% / 10%);
  --background: hsl(200, 2%, 13%);
  --background-light: hsl(200 80% 90% / 50%);
  --panel: hsl(200 2% 5% / 50%);

  --radius: 1rem;
  --shadow: 0 0 15px -5px hsl(0 0% 75% / 10%), 0 0 5px -4px hsl(0 0% 75% / 25%);

  font-family: "Jost", sans-serif;
  font-size: 24px;
  color: var(--text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
  overflow-x: hidden;
  background-color: #191919;
}

a {
  color: var(--text);

  transition: background-color 0.1s ease;
  &:hover {
    background-color: var(--highlight);
  }
}

.panel {
  margin: 1rem;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--panel);
  backdrop-filter: blur(1rem);

  box-shadow: var(--shadow);
}

@keyframes rainbow {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
