.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 50em;
  min-height: 100vh;
}

.light {
  color: var(--background);
  background: var(--background-light);
  backdrop-filter: none;

  a {
    color: var(--background);
    background: none;
  }
}

.pane {
  --offset: 0;
  flex-grow: 1;
  transform: rotateX(var(--offset)) rotateY(-5deg);
  min-height: 75vh;
  max-width: 60vw;

  display: flex;
  flex-direction: column;

  position: relative;

  :global {
    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      margin-top: 0;
    }

    img {
      width: 230px;
      display: block;
      margin: 0 auto;
    }
  }
}

.bg {
  .hidden {
    visibility: hidden;
  }

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  border-radius: var(--radius);
  background-image: var(--img-url);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  mix-blend-mode: multiply;
}
